body {
  padding-top: 50px;
    
}

body, p, li {
  font-family: "Proxima Nova Regular","Helvetica Neue",Calibri,"Droid Sans",Helvetica,Arial,sans-serif;
  line-height: 30px;
  font-size: 1.3em;
}

.navbar {
  margin-bottom: 0;
}

.tr-example {
  padding: 20px;
  border: 1px solid #ccc;
}

code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 16px;
}

.team-member img {
  height: 32px;
  
  border-radius: 10%;
  box-shadow: 1px 1px 1px 1px #999;
}

.list-group-item a {
  color: #666;
  text-decoration: none;
}

.team-member a:hover {
  color: #666;
  text-decoration: none; 
}

#content section, article {
  padding-top: 40px;
  padding-bottom: 10px;
}

section#about {
  min-height: 700px;
}

.affix {
  top: 60px;  
}

#sidebar li {
  line-height: 15px;
}

#sidebar li a {
  font-size: .8em;
}

#sidebar li.active a {
  color: #033C6D;
}

.input-prepend:before {  
  font-family: FontAwesome;
  font-size: 1.5em;
  color: rgb(111, 165, 223);
  margin-right: 10px;
  content: "\f002";
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}