<h1>Sobre o manual</h1>

<!-- <p class="lead"> Este manual foi criado pela equipe de desenvolvimento <em>front-end</em> e <em>webdesign</em> do Tribunal Regional do Trabalho da 3ª Região.</p> 

<p>Visando estimular a reutilização e a padronização de componentes para os sistemas internos do tribunal, decidimos criar esta série de recomendações para auxiliar nas decisões das equipes de desenvolvimento. </p>-->

<p>Estas recomendações incluem protótipos e códigos <em>html/css/js</em> baseados na versão 3 do <a href="http://getbootstrap.com/">Twitter Bootstrap</a> e em bibliotecas <em>client-side</em> <em>open source</em>. Estas últimas são citadas oportunamente.</p>

<hr>

<span class="lead">Criado por:</span>
<div class="list-group">
  <div class="list-group-item">
    <div class="pull-right" style="margin-top:6px">
      <!-- <iframe src="http://ghbtns.com/github-btn.html?user=augustoht&type=follow&count=false" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe> -->
    </div>

    <a href="http://github.com/augustoht" class="team-member">
      <img src="http://www.gravatar.com/avatar/a63a868f6bd4ad123609bb75ddba34f8.png" alt=""> &nbsp;&nbsp;
      <strong>Augusto Teixeira</strong>
      <small>@augustoht</small>
    </a>
  </div>
  
</div>
