<h1>Considerações sobre Acessibilidade</h1>

<p>O uso de tecnologias assistivas é essencial para tornar o sistemas acessíveis a pessoas portadoras de necessidades especiais. Além disso, é uma recomendação que faz parte do <strong>Programa de Governo Eletrônico</strong> do Ministério do Planejamento, Orçamento e Gestão.</p>

<p>O programa disponibiliza uma série de documentos contendo diretrizes para a construção de sites e aplicativos web. Esta suíte inclui recomendações sobre usabilidade, acessibilidade, redação, codificação, manutenção etc.</p>

<p>Nos últimos anos, o Consórcio W3C, ciente da evolução dos sistemas web e o surgimento de elementos visuais cada vez mais ricos e complexos, lançou uma iniciativa para especificar recursos de acessibilidade a serem utilizados em aplicações de interface rica construídas em Ajax, HTML, Javascript e outras tecnologias relacionadas.</p> 

<p>Veja abaixo uma lista com as principais documentações utilizadas para nortear a acessibilidade nos sistemas web.</p>

<h3>Padrões Web em Governo Eletrônico e-PWG</h3>
<ul>
  <li><a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/padroes-brasil-e-gov-cartilha-de-codificacao/download">e-PWG - Cartilha de Codificação</a></li>
  <li><a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/padroes-brasil-e-gov-guia-de-administracao/download">e-PWG - Guia de Administração</a></li>
  <li><a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/padroes-brasil-e-gov-cartilha-de-usabilidade/download">e-PWG - Cartilha de Usabilidade</a></li>
  <li><a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/padroes-brasil-e-gov-cartilha-de-redacao-web/download">e-PWG - Cartilha de Redação WEB</a></li>
</ul>

<h3>Modelo de Acessibilidade de Governo Eletrônico - e-MAG</h3>
<ul>
  <li><a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/e-mag-3.0/download">Modelo de Acessibilidade de Governo Eletrônico - versão 3.0</a></li>
</ul>

<h3>W3C Web Accessity Initiative - WAI</h3>
<ul>
  <li><a href="http://www.w3.org/WAI/">Página da iniciativa</a></li>
  <li><a href="http://www.w3.org/WAI/intro/aria">Recomendações para Aplicações Ricas - WAI-ARIA</a></li>
  <li><a href="http://tableless.com.br/wai-aria-estendendo-o-significado-das-interacoes/#.Uq7yDvRDthY">Artigo em português sobre WAI-ARIA</a></li>
</ul>